@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kanit:wght@200&family=Playfair+Display&display=swap');

* {
    margin:0;
    padding:0;
    border:none;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Dancing Script', serif;
    color: #180F19
    background-color: #929F3E;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    font-size: 100%;
    font-weight: 100;
    line-height: 1;
}

img{
    display: block;
    max-width: 100%;
}

.text-center {
    text-align: center;
}

/* ===========
  logo & nav 
=============*/

.nav-container {

}

#logo-text {

}

#logo-right-menu {

}